In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1384,tt0376108,45000000,16809014,Rebound,Martin Lawrence|Wendy Raquel Robinson|Breckin ...,Steve Carr,A comedy where old school ...meets middle school,An acclaimed college hoops coach is demoted to...,103,Comedy|Family,Twentieth Century Fox Film Corporation|Robert ...,7/1/2005,5.5,2005
679,tt0462465,50000000,7033683,Outlander,Jim Caviezel|Sophia Myles|Jack Huston|Ron Perl...,Howard McCain,It destroyed his world. He won't let it destro...,"During the reign of the Vikings, a man from an...",115,Fantasy|Action|Science Fiction,Ascendant Pictures|Rising Star|VIP Medienfonds...,4/24/2008,6.0,2008
1165,tt0289635,6400000,2500000,Young Adam,Ewan McGregor|Tilda Swinton|Peter Mullan|Emily...,David Mackenzie,Everyone has a past. Everyone has a secret.,A young drifter working on a river barge disru...,93,Drama|Thriller|Crime|Romance,Recorded Picture Company (RPC),9/26/2003,5.9,2003
1259,tt1814621,13000000,18000000,Admission,Tina Fey|Paul Rudd|Ann Harada|Ben Levin|Dan Levy,Paul Weitz,Let someone in.,Strait-laced Princeton University admissions o...,107,Comedy|Drama|Romance,Focus Features,3/21/2013,5.4,2013
1436,tt0381061,150000000,599045960,Casino Royale,Daniel Craig|Eva Green|Mads Mikkelsen|Judi Den...,Martin Campbell,Everyone has a past. Every legend has a beginn...,"Le Chiffre, a banker to the world's terrorists...",144,Adventure|Action|Thriller,Eon Productions,11/14/2006,7.1,2006

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget'] # код получения столбца profit
from itertools import combinations # вопрос 27

# 1. У какого фильма из списка самый большой бюджет?

In [5]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

In [6]:
data[data['budget'] == data['budget'].max()]['original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
answers['2'] = '2. Gods and Generals (tt0279111)' # +

In [10]:
data[data['runtime'] == data['runtime'].max()]['original_title'].values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' # +

In [14]:
data[data['runtime'] == data['runtime'].min()]['original_title'].values[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [15]:
answers['4'] = '2. 110' # +

In [16]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [17]:
answers['5'] = '1. 107' # +

In [18]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [21]:
answers['6'] = '5. Avatar (tt0499549)' # +

In [22]:
data[data['profit'] == data['profit'].max()]['original_title'].values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [23]:
answers['7'] = '5. The Lone Ranger (tt1210819)' # +

In [24]:
data[data['profit'] == data['profit'].min()]['original_title'].values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [25]:
answers['8'] = '1. 1478' # +

In [26]:
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [27]:
answers['9'] = '4. The Dark Knight (tt0468569)' # +

In [28]:
data_2 = data[data['release_year'] == 2008]
data_2[data_2['revenue'] == data_2['revenue'].max()]['original_title'].values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [29]:
answers['10'] = '5. The Lone Ranger (tt1210819)' # +

In [30]:
data_3 = data[data['release_year'].isin([2012, 2013, 2014])]
data_3[data_3['profit'] == data_3['profit'].min()]['original_title'].values[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [33]:
answers['11'] = '3. Drama' # +

In [34]:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [35]:
answers['12'] = '1. Drama' # +

In [36]:
pd.Series((data[data['profit'] > 0].genres.str.split('|').sum())).value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [37]:
answers['13'] = '5. Peter Jackson' # +

In [38]:
data['dir'] = data.director.str.split('|')
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [39]:
answers['14'] = '3. Robert Rodriguez' # +

In [40]:
data[data.genres.str.contains('Action')].director.str.split('|').explode().value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Michael Spierig       1
Jorma Taccone         1
Lexi Alexander        1
Stuart Beattie        1
Rian Johnson          1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [41]:
answers['15'] = '3. Chris Hemsworth' # +

In [42]:
data['actors'] = data.cast.str.split('|')
data[data['release_year']==2012].groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

cast
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson    1519557910
Daniel Craig|Judi Dench|Javier Bardem|Ralph Fiennes|Naomie Harris                1108561013
Christian Bale|Michael Caine|Gary Oldman|Anne Hathaway|Tom Hardy                 1081041287
Ian McKellen|Martin Freeman|Richard Armitage|Andy Serkis|Cate Blanchett          1017003568
John Leguizamo|Ray Romano|Chris Wedge|Denis Leary|Seann William Scott             877244782
                                                                                    ...
Kirsten Dunst|Jim Sturgess|Timothy Spall|James Kidnie|Heidi Hawkins                 8106475
Robert Pattinson|Sarah Gadon|Juliette Binoche|Paul Giamatti|Samantha Morton         6063556
Bruce Willis|Josh Duhamel|Rosario Dawson|Vincent D'Onofrio|50 Cent                  4636169
Jason Bateman|Hope Davis|Frank Grillo|Paula Patton|Michael Nyqvist                  3428048
Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Gayle|Danny Huston                      2106557
Name: revenue, Length: 111, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [43]:
answers['16'] = '3. Matt Damon' # +

In [44]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [45]:
answers['17'] = '2. Action' # +

In [46]:
data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Romance             1
Horror              1
War                 1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [49]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' # +

In [50]:
data[data.production_companies.str.contains('Paramount Pictures')].sort_values('profit').head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,dir,actors
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,[Kathryn Bigelow],"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ..."
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261,[Richard Donner],"[Paul Walker, Frances O'Connor, Gerard Butler,..."
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987,[Lee Tamahori],"[Nicolas Cage, Julianne Moore, Jessica Biel, T..."

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [51]:
answers['19'] = '5 2015' # +

In [52]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [53]:
answers['20'] = '1 2014' # +

In [54]:
warner = data[data['production_companies'].str.contains('Warner Bros')]
warner.groupby(['release_year'])['profit'].sum().idxmax()

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [55]:
answers['21'] = '4. Сентябрь' # +

In [59]:
data['release_date'] = pd.to_datetime(data['release_date'])
data.release_date.dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [57]:
answers['22'] = '2. 450' # +

In [61]:
data['release_date'] = pd.to_datetime(data['release_date'])
len(data[data.release_date.dt.month==6])+len(data[data.release_date.dt.month==7])+len(data[data.release_date.dt.month==8])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [64]:
answers['23'] = '5. Peter Jackson' # +

In [65]:
data['release_date'] = pd.to_datetime(data['release_date'])
data[(data.release_date.dt.month==12) | (data.release_date.dt.month==1) | (data.release_date.dt.month==2)].director.str.split('|').value_counts()

[Peter Jackson]                       7
[Clint Eastwood]                      6
[Steven Soderbergh]                   6
[Shawn Levy]                          4
[Nancy Meyers]                        4
                                     ..
[Paul Tibbitt]                        1
[Florian Henckel von Donnersmarck]    1
[Niki Caro]                           1
[Mikael HÃ¥fstrÃ¶m]                   1
[Guy Ferland]                         1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [66]:
answers['24'] = '5. Four By Two Productions' # +

In [67]:
data['len_title'] = data['original_title'].map(lambda x: len(x))
data.assign(production_companies = data['production_companies'].str.split('|')).explode('production_companies')
data.groupby('production_companies')['len_title'].mean().sort_values(ascending=False)

production_companies
Twentieth Century Fox Film Corporation|Four By Two Productions                                                          83.0
Walt Disney|Walden Media                                                                                                62.0
Walt Disney Pictures|21 Laps Entertainment|Jim Henson Company, The                                                      59.0
Plan B Entertainment|Virtual Studios|Scott Free Productions|Alberta Film Entertainment|Warner Bros.                     58.0
Dune Entertainment|Fox 2000 Pictures|Walden Media                                                                       56.0
                                                                                                                        ...
Sunswept Entertainment|Warner Bros.|Metro-Goldwyn-Mayer (MGM)                                                            3.0
Twentieth Century Fox Film Corporation|Donners' Company|Bad Hat Harry Productions|Marvel Enterprises|XM2 Productions     2.0
Columbia Pictures|Relativity Media                                                                                       2.0
Ixtlan Productions|Emperor Motion Pictures|Global Entertainment Group                                                    2.0
Focus Films|Starz Animation|Relativity Media|Tim Burton Productions|Arc Productions                                      1.0
Name: len_title, Length: 1624, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [68]:
answers['25'] = '3. Midnight Picture Show' # +

In [69]:
data['len_overview'] = data['overview'].map(lambda x: len(x.split()))
data.assign(production_companies = data['production_companies'].str.split('|')).explode('production_companies')
data.groupby('production_companies')['len_overview'].mean().sort_values(ascending=False)

production_companies
Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show                                 175.0
Paramount Pictures|Metro-Goldwyn-Mayer (MGM)|Radical Studios|Flynn Picture Company                                169.0
Fox Searchlight Pictures|Room 9 Entertainment                                                                     161.0
Columbia Pictures|Revolution Studios|Happy Madison Productions                                                    159.0
Village Roadshow Pictures|NPV Entertainment|Heineken Branded Entertainment|Silver Pictures|Warner Bros.           159.0
                                                                                                                  ...
Focus Films                                                                                                        12.0
Cheyenne Enterprises|Epsilon Motion Pictures|Empire Pictures|Metro-Goldwyn-Mayer (MGM)|Hyde Park Entertainment     11.0
Motion Picture Corporation of America|Artisan Entertainment                                                        11.0
Columbia Pictures Corporation|Apatow Productions                                                                   10.0
Paramount Pictures|Plan B Entertainment|Regency Enterprises                                                        10.0
Name: len_overview, Length: 1624, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [70]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' # +

In [71]:
data.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False).head(18)

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Inside Out                                       8.0
Interstellar                                     8.0
Room                                             8.0
The Grand Budapest Hotel                         7.9
The Pianist                                      7.9
Guardians of the Galaxy                          7.9
Memento                                          7.9
The Wolf of Wall Street                          7.9
Inception                                        7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
The Lord of the Rings: The Return of the King    7.9
Prisoners                                        7.8
The Fault in Our Stars                           7.8
Eternal Sunshine of the Spotless Mind            7.8
The Prestige                                     7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [72]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' # +

In [73]:
acts_pair = []
for cast in data.cast.str.split('|'):
    acts_pair.extend(combinations(cast, 2))
pd.Series(acts_pair).value_counts()

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Daniel Radcliffe, Robbie Coltrane)    1
(Brendan Fraser, Josh Hutcherson)      1
(Sam Robards, Jake Thomas)             1
(Sharon Stone, Frances Conroy)         1
(Adrian Grenier, Jerry Ferrara)        1
Length: 18121, dtype: int64

# Submission

In [74]:
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5 2015',
 '20': '1 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [75]:
len(answers)

27